#hns-control-panel {
  color: #222;
  line-height: 12px;
}

.hns-sort-by-label {
  display: inline-block;
  margin-right: 5px;
  color: #000;
}

.hns-btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}

.hns-btn-text {
  display: none;
}

.hns-btn-shortcut {
  display: inline;
}

.hns-active {
  color: #fff;
}

.hns-active.hns-btn {
  cursor: default;
}

.hns-divider {
  display: inline-block;
  margin: 0 10px;
}

@media screen and (min-width: 1280px) {
  .hns-btn-text {
    display: inline;
  }

  .hns-btn-shortcut {
    display: none;
  }
}
