#hns-control-panel {
  color: #222;
  line-height: 12px;
}

.hns-sort-by-label {
  display: inline-block;
  margin-right: 5px;
  color: #000;
}

.hns-btn {
  all: unset;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}

.hns-btn:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
  border-radius: 2px;
}

.hns-btn-text {
  display: none;
}

.hns-btn-shortcut {
  display: inline;
}

.hns-active {
  color: #fff;
}

.hns-active.hns-btn {
  cursor: default;
}

.hns-divider {
  display: inline-block;
  margin: 0 10px;
}

.hns-highlight {
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .hns-btn-text {
    display: inline;
  }

  .hns-btn-shortcut {
    display: none;
  }
}

/* New post indicator - only active when table body has .hns-show-new */
.hns-show-new tr.hns-new-post .titleline::before {
  content: '\2022';
  color: #ff6600;
  margin-right: 4px;
  font-weight: bold;
}
